.btn{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 23%;
}

.cameraSection{
    padding: 3%;
    width: 84%;
    height: 40%;
    margin: 5%;
    position: absolute;
    top: 20%;
    left: 3%;
}

video{
    width: 84% !important;
    height: 40% !important;
    position: absolute;
    top:20%;
    left:3%;
    margin: 5%
}

canvas{
    height: 0;
    width: 0;
}

label{
    position: absolute;
    top: 20%;
    left: 23%;
}